<div class="navbar-header">
    <a id="${this.home.id}" class="navbar-brand" href="${this.home.url}">${this.home.title}</a>
</div>
<div id="navbar">

    <div class="nav navbar-nav">

        <div class="dropdown" onmouseover="javascript: this.find('.dropdown-content').show();">
            <button class="dropbtn">Templates&nbsp;&#11206;</button>
            <div class="dropdown-content navbar-inverse" onclick="javascript: this.hide();">
                ${this.template.forEach(this.templates, item => 
                    `<a id="${item.id}" href="${item.url}">${item.title}</a>`
                )}
            </div>
        </div> 

        <div class="dropdown" onmouseover="javascript: this.find('.dropdown-content').show();">
            <button class="dropbtn">Modules&nbsp;&#11206;</button>
            <div class="dropdown-content navbar-inverse" onclick="javascript: this.hide();">
                ${this.template.forEach(this.modules, item => 
                    `<a id="${item.id}" href="${item.url}">${item.title}</a>`
                )}
            </div>
        </div> 

        <div class="dropdown" onmouseover="javascript: this.find('.dropdown-content').show();">
            <button class="dropbtn">Dynamic data&nbsp;&#11206;</button>
            <div class="dropdown-content navbar-inverse" onclick="javascript: this.hide();">
                ${this.template.forEach(this.dynamic, item =>
                    `<a id="${item.id}" href="${item.url}">${item.title}</a>`
                )}
            </div>
        </div>

    </div>

</div>
