<div class="navbar-header">
    <a id="${this.home.id}" class="navbar-brand" href="${this.home.url}">${this.home.title}</a>
</div>
<div>

    <div class="nav navbar-nav">

        ${this.template.import("template!templates/menu.html")({title: "Templates", data: this.templates})}
        ${this.template.import("template!templates/menu.html")({title: "Modules", data: this.modules})}
        ${this.template.import("template!templates/menu.html")({title: "Dependency injection", data: this.di})}
        ${this.template.import("template!templates/menu.html")({title: "Model binding", data: this.binding})}
        ${this.template.import("template!templates/menu.html")({title: "Remote data", data: this.remote})}
        ${this.template.import("template!templates/menu.html")({title: "Components", data: this.components})}

    </div>
</div>
