<div class="navbar-header">
    <a id="${this.home.id}" class="navbar-brand" href="${this.home.url}">${this.home.title}</a>
</div>
<div id="navbar">

    <div class="nav navbar-nav">

        <div class="dropdown">
            <button class="dropbtn">Templates&nbsp;&#8675;</button>
            <div class="dropdown-content navbar-inverse">
                ${this.template.forEach(this.templates, item => 
                    `<a id="${item.id}" href="${item.url}">${item.title}</a>`
                )}
            </div>
        </div> 

        <div class="dropdown">
            <button class="dropbtn">Modules&nbsp;&#8675;</button>
            <div class="dropdown-content navbar-inverse">
                <a href="#">Simple text module view</a>
                <a href="#">Class module - text rendering</a>
                <a href="#">Class module - element manipulation</a>
                <a href="#">Object module - text rendering</a>
                <a href="#">Object module - element manipulation</a>
            </div>
        </div> 

        <div class="dropdown">
            <button class="dropbtn">Dynamic data&nbsp;&#8675;</button>
            <div class="dropdown-content navbar-inverse">
                <a href="#">Dynamic data</a>
                <a href="#">Model binding</a>                
            </div>
        </div> 

    </div>

</div>
