<div>
        <h1 id="vbspa">vb-spa</h1>

        <p>Minimalistic JavaScript Single Page Application framework demo built for simplicity and speed.</p>
        
        <h3 id="synopsis">Synopsis</h3>
        
        <p>At the top of the file there should be a short introduction and/ or overview that explains <strong>what</strong> the project is. This description should match descriptions added for package managers (Gemspec, package.json, etc.)</p>
        
        <h3 id="motivation">Motivation</h3>
        
        <p>A short description of the motivation behind the creation and maintenance of the project. This should explain <strong>why</strong> the project exists.</p>
        
        <h2 id="gettingstarted">Getting Started</h2>
        
        <p>These instructions will get you a copy of the project up and running on your local machine for development and testing purposes. See deployment for notes on how to deploy the project on a live system.</p>
        
        <h3 id="prerequisities">Prerequisities</h3>
        
        <p>What things you need to install the software and how to install them</p>
        
        <pre><code>Give examples
        </code></pre>
        
        <h3 id="installing">Installing</h3>
        
        <p>A step by step series of examples that tell you have to get a development env running</p>
        
        <p>Stay what the step will be</p>
        
        <pre><code>Give the example
        </code></pre>
        
        <p>And repeat</p>
        
        <pre><code>until finished
        </code></pre>
        
        <p>End with an example of getting some data out of the system or using it for a little demo</p>
        
        <h2 id="exampleuse">Example Use</h2>
        
        <p>Show what the library does as concisely as possible, developers should be able to figure out <strong>how</strong> your project solves their problem by looking at the code example. Make sure the API you are showing off is obvious, and that your code is short and concise.</p>
        
        <h2 id="apireference">API Reference</h2>
        
        <p>Depending on the size of the project, if it is small and simple enough the reference docs can be added to the README. For medium size to larger projects it is important to at least provide a link to where the API reference docs live.</p>
        
        <h2 id="runningthetests">Running the tests</h2>
        
        <p>Explain how to run the automated tests for this system</p>
        
        <h3 id="breakdownintoendtoendtests">Break down into end to end tests</h3>
        
        <p>Explain what these tests test and why</p>
        
        <pre><code>Give an example
        </code></pre>
        
        <h3 id="andcodingstyletests">And coding style tests</h3>
        
        <p>Explain what these tests test and why</p>
        
        <pre><code>Give an example
        </code></pre>
        
        <h2 id="deployment">Deployment</h2>
        
        <p>Add additional notes about how to deploy this on a live system</p>
        
        <h2 id="builtwith">Built With</h2>
        
        <ul>
        <li>Dropwizard - Bla bla bla</li>
        
        <li>Maven - Maybe</li>
        
        <li>Atom - ergaerga</li>
        </ul>
        
        <h2 id="contributing">Contributing</h2>
        
        <p>Please read <a href="CONTRIBUTING.md">CONTRIBUTING.md</a> for details on our code of conduct, and the process for submitting pull requests to us.</p>
        
        <h2 id="versioning">Versioning</h2>
        
        <p>We use <a href="http://semver.org/">SemVer</a> for versioning. For the versions available, see the <a href="https://github.com/your/project/tags">tags on this repository</a>. </p>
        
        <h2 id="authors">Authors</h2>
        
        <ul>
        <li><strong>John Doe</strong> - <em>Initial work</em> - <a href="https://github.com/JohnDoe">JohnDoe</a></li>
        </ul>
        
        <p>See also the list of <a href="https://github.com/your/project/contributors">contributors</a> who participated in this project.</p>
        
        <h2 id="license">License</h2>
        
        <p>This project is licensed under the <strong>BSD License</strong> - see the <a href="LICENSE.md">LICENSE.md</a> file for details.</p>
        
        <h2 id="acknowledgments">Acknowledgments</h2>
        
        <ul>
        <li>Hat tip to anyone who's code was used</li>
        
        <li>Inspiration</li>
        
        <li>etc</li>
        </ul>        
</div>
