<h1 id="vbspasinglepageapplicationframework">VBSPA Single-Page Application Framework</h1>

<p>VBSPA is JavaScript framework that allows you to easily create amazing fast and slick Single-Page Web Applications <a href="https://en.wikipedia.org/wiki/Single-page_application">SPA</a>.</p>

<p>SPA web applications don't require reload on every request. As result they are extremly fast and slick and user session is preserved. 
That means that SPA application provide user with full, native, desktop-like user experiencem, without annoying reloads and without loosing user session or work.</p>

<p>That doesn't mean that SPA applications are not suitable for large and complex webs like news portals or blogs that need to server thousands 
of pages. That is common myth about SPA applications. Views (text templates and/or modules) can be loaded dynamically and when needed.</p>

<p>This framework is built for simplicity and speed. Doesn't need or use any transpiling or parsing. Runtime code, when minified is around <strong>7.5KB</strong>.</p>

<p>It also doesn't introduce any new syntax, special markup or anything like that. So learning curve should be shallow and you can get started fast. For example, if you already know JavaScript <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals">ES6 template strings syntax</a> then you already know template syntax for this framework.</p>

<p>To achieve all of this - framework relays heavily on new JavaScript ECMA6 (JS ES6) features. On certain places, they are used dynamically, 
again, to achieve simplicity and speed. But that also means that it cannot be transpiled into old JavaScript ES5. Good news is that doesn't have to. Here is curent <a href="https://kangax.github.io/compat-table/es6/">compatibility table for ES6</a>. This means that this framework doesn't support Internet Explorer. It works perfecly fast and slick on latest Chrome, Firefox, Edge and Safari. Internet Explorer users will have to 
use different browser. </p>

<h2 id="featurelist">Feature list</h2>

<h4 id="javascriptmodularitywithouttranspilation">JavaScript modularity without transpilation</h4>

<p>It just uses RequireJS module loader directly. AMD (Asynchronous Module Definition), and its most popular implementation RequireJS is favored to CommonJS because of its asynchronous features to achieve effeciency. This is only dependency (6KB).</p>

<h4 id="templatingenginewithfamiliarsyntax">Templating engine with familiar syntax.</h4>

<p>It uses ES6 template string which are supported nativly by browsers. Templating includes processing custom data and template composition (ability to import another template into specific place. See wiki for more information.</p>

<h4 id="clientsiderouter">Client side router</h4>

<p>With hashes or with hashbangs. For example <code>yourwebsite.com#/route1/param1/.../</code> is hash route. That is how single page applications work, since they have to implement entire framework, including routing on client. There is also possibility of hasbangs, for example <code>yourwebsite.com#!/route1/param1/.../</code>. Hashbang routes have better search engine optimization. More info in wiki...</p>

<h4 id="viewenginethatworksseamlesslywithroutertomap">View engine that works seamlessly with router to map:</h4>

<ul>
<li>Appropriate html text template, </li>

<li>Parametrized html text template that can process custom data parameters from router using templating engine,</li>

<li>Custom module that can be JavaScript object or class. That module can then import other modules or templates, etc.</li>

<li>Remote, crossdomain module or remote, crossdomain template that uses cors internally and works like any other module or template to support extreme
vertical scalability with composite web pages and microservices.</li>
</ul>

<p>It also supports dependency injection of another template or module trough router definition. For more details see wiki pages.</p>

<h4 id="mixingofjavascriptandhtmlinsidemodule">Mixing of JavaScript and HTML inside module</h4>

<p>If you prefer this style of frontend architecture (I do), there is ability to seamlessly mix your JavaScript code with HTML without 
having to use JSX parsing and still have full languague support for HTML (for Visual Studio Code and JetBrains development enviorments).
Wiki pages...</p>

<h4 id="bidirectionalmodelbinding">Bi-directional model binding</h4>

<p>Model binding means ability to declare some data model in you model and when you change some value in your data model, 
some UI should change also. That means that model and UI model are bind. Bi-directional means when you change value in your 
UI element, model should change too. This can be achieved declaratively (trough HTML, without any special syntax) or 
programmatically (trough code telling your model with whom to bind). More info on wiki...</p>

<h4 id="buildtool">Build tool</h4>

<p>Build tool is also included that allows you to:</p>

<ul>
<li>Minify and copy your modules, html and css</li>

<li>Create bundles for your your modules, html or css</li>

<li>Fine tune and tweak your SPA application</li>
</ul>

<p>Bundling is important process in SPA applications because of its modular nature. 
Modular fronted application need to be bundled to avoid high netowork traffic when loading all of those bundles. On the other side, you don't want everything to be bundled, perhaps you want
something to be loaded on demand or you just want to left out some portions of application used rarely. In other words - fine tuning. More info on this on wiki. </p>

<h2 id="gettingstarted">Getting Started</h2>

<h3 id="prerequisite">Prerequisite</h3>

<h4 id="nodejs">Node.js</h4>

<ul>
<li><a href="https://nodejs.org/en/download/">Intstall node.js</a> to restore dependend modules and to run build tool</li>
</ul>

<h4 id="localwebserver">Local web server</h4>

<ul>
<li>If you don't have one, install node's <a href="https://www.npmjs.com/package/http-server">http-server</a> with</li>
</ul>

<pre><code>npm install http-server -g
</code></pre>

<h3 id="steps">Steps:</h3>

<ul>
<li>Clone this repo:</li>
</ul>

<pre><code>$ git clone https://github.com/vbilopav/vb-spa
</code></pre>

<ul>
<li>Restore npm modules:</li>
</ul>

<pre><code>$ npm install
</code></pre>

<ul>
<li>To open source code example web site in you browser just point your local web server to
<code>src</code> dir, or using http-server:</li>
</ul>

<pre><code>$ cd src/
$ http-server -o
</code></pre>

<ul>
<li>To build and open minified and bundled version:</li>
</ul>

<pre><code>$ cd src/_build-system/
$ node build.js --target=mybuild

...

build.js &gt;
build.js &gt; finished!

$ cd build/mybuild/
$ http-server -o
</code></pre>

<h2 id="license">License</h2>

<p>This project is licensed under the <strong>MIT License</strong> - see the <a href="LICENSE.md">LICENSE.md</a> file for details.</p>