<h1 id="vbspasinglepageapplicationframework">VBSPA Single-Page Application Framework</h1>

<blockquote>
  <p><strong>VBSPA</strong> is JavaScript Framework that offers simple and easy way to create amazing fast and slick <a href="https://en.wikipedia.org/wiki/Single-page_application"><strong>Single-Page Web Applications</strong></a>.</p>
</blockquote>

<p>SPA Web Applications don't require and <strong>don't do any reloads</strong> on view request. As result they are extremly <strong>fast and slick</strong> and user session is preserved. </p>

<p>That means that SPA applications can offer <strong>full, native, desktop-like user experience</strong> - without annoying reloads and without loosing user session or work.</p>

<p>This Framework was built from ground-up for <strong>simplicity and speed</strong> - with having primarly on mind building <strong>web-based tools</strong> and other web apps that would like to have desktop-like experince.</p>

<p>However, that doesn't mean that SPA applications in general, and this Framework in particular - arn't suitable for large and complex web sitesthat need to server thousands of pages. Views or even other bundles - can be loaded dynamically - <strong>lazy loading</strong> - and only when they are needed. </p>

<p>Framework supports cross-domain views, so it can be also used for microservice-based composite web UI's  - that can be <strong>scaled to the moon and back.</strong></p>

<p>Runtime code, when minified is around stable <strong>8.4KB</strong>. </p>

<p>Entire Framework can be simply minified and bundled - build tools are provided together with the rest of the application. </p>

<p>Demo app in this repository have <strong>30 views</strong> with various feature demos and minified and bundled with Framework is less then <strong>60KB</strong>.</p>

<p><strong>New syntax or special markup is virtually none-existing.</strong> </p>

<p>That means shallow learning curve and you can start quickly. For example, if you already know JavaScript <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals">ES6 template strings syntax</a> then you already know template syntax for this framework. If want to bind data model to HTML, also, no new markup or new syntax is required. </p>

<p>Framework relays heavily and takes advantage of new JavaScript ECMA6 (JS ES6) features and it cannot be transpiled to ECMA5. </p>

<p>Good. 
It doesn't have to. 
Here is curent <a href="https://kangax.github.io/compat-table/es6/">compatibility table for ES6</a>. This means that this <strong>framework doesn't support Internet Explorer.</strong> It works perfecly fast and slick on latest Chrome, Firefox, Edge and Safari. Internet Explorer users will have to use different browser. Feature detection script is provided.</p>

<blockquote>
  <p><strong>If your application have any, any value whatsoever - users would go extra three clicks and 20 seconds of their time to install better browser!</strong>  </p>
  
  <h1 id="nomoretranspiling">nomoretranspiling</h1>
</blockquote>

<h2 id="featurelist">Feature list</h2>

<h3 id="javascriptmodularitywithouttranspilationhttpsgithubcomvbilopavvbspawiki1modularity"><a href="https://github.com/vbilopav/vb-spa/wiki/1.-Modularity">JavaScript modularity without transpilation</a></h3>

<h3 id="useremotecrossdomainmodulesorhtmltemplateshttpsgithubcomvbilopavvbspawiki3crossoriginmodules"><a href="https://github.com/vbilopav/vb-spa/wiki/3.-Cross-origin-modules">Use remote, cross-domain modules or HTML templates</a></h3>

<h3 id="templatingenginewithfamiliarsyntaxhttpsgithubcomvbilopavvbspawiki2templateengine"><a href="https://github.com/vbilopav/vb-spa/wiki/2.-Template-engine">Templating engine with familiar syntax</a></h3>

<h3 id="clientsiderouterhttpsgithubcomvbilopavvbspawiki4clientrouter"><a href="https://github.com/vbilopav/vb-spa/wiki/4.-Client-Router">Client side router</a></h3>

<h3 id="viewenginethatworksseamlesslywithrouterthatcanhttpsgithubcomvbilopavvbspawiki5viewengine"><a href="https://github.com/vbilopav/vb-spa/wiki/5.-View-Engine">View engine that works seamlessly with router that can:</a></h3>

<ul>
<li>#### <a href="https://github.com/vbilopav/vb-spa/wiki/5.-View-Engine#text-templates">Map HTML text templates</a></li>

<li>#### <a href="https://github.com/vbilopav/vb-spa/wiki/5.-View-Engine#parametrized-text-templates">Map parametrized HTML text templates</a></li>

<li>#### <a href="https://github.com/vbilopav/vb-spa/wiki/5.-View-Engine#class-modules">Map code modules</a></li>

<li>#### <a href="https://github.com/vbilopav/vb-spa/wiki/5.-View-Engine#resolving-promises-and-async-and-await">View engine can resolve promises, so you can use <code>async</code> and <code>await</code></a></li>

<li>#### <a href="https://github.com/vbilopav/vb-spa/wiki/5.-View-Engine#injected">Dependency injection of another template or module to loose couple your front-end arhitecture</a></li>

<li>#### <a href="https://github.com/vbilopav/vb-spa/wiki/5.-View-Engine#declarative-code-in-modules">Use declarative programming model</a></li>
</ul>

<h3 id="declarativeprogrammingmodelmixingofjavascriptandhtmlinsidemodulehttpsgithubcomvbilopavvbspawiki6htmlelementextensions"><a href="https://github.com/vbilopav/vb-spa/wiki/6.-HTML-Element-Extensions">Declarative programming model - mixing of JavaScript and HTML inside module</a></h3>

<h4 id="bidirectionalmodelbindingeitherhttpsgithubcomvbilopavvbspawiki8modelbinding"><a href="https://github.com/vbilopav/vb-spa/wiki/8.-Model-Binding">Bi-directional model binding, either:</a></h4>

<ul>
<li>#### <a href="https://github.com/vbilopav/vb-spa/wiki/8.-Model-Binding#declarative-binding">Declarative</a></li>

<li>#### <a href="https://github.com/vbilopav/vb-spa/wiki/8.-Model-Binding#programmatic-binding">Programmatic</a></li>
</ul>

<h4 id="buildtoolthatcanhttpsgithubcomvbilopavvbspawiki11buildsystem"><a href="https://github.com/vbilopav/vb-spa/wiki/11.-Build-system">Build tool that can</a></h4>

<ul>
<li>#### <a href="">Minify and copy your modules, HTML and or CSS files</a></li>

<li>#### <a href="https://github.com/vbilopav/vb-spa/wiki/12.-Build-tool-main-configuration">Create bundles for your your modules, html or css</a></li>

<li>#### <a href="https://github.com/vbilopav/vb-spa/wiki/12.-Build-tool-main-configuration">Lazy load your application moduels, another bundles or html and css</a></li>

<li>#### <a href="">Fine tune and tweak your SPA application</a></li>
</ul>

<h2 id="gettingstarted">Getting Started</h2>

<h3 id="prerequisite">Prerequisite</h3>

<h4 id="nodejs">Node.js</h4>

<ul>
<li><a href="https://nodejs.org/en/download/">Intstall node.js</a> to restore dependend modules and to run build tool</li>
</ul>

<h4 id="localwebserver">Local web server</h4>

<ul>
<li>If you don't have one, install node's <a href="https://www.npmjs.com/package/http-server">http-server</a> with</li>
</ul>

<pre><code>npm install http-server -g
</code></pre>

<h3 id="steps">Steps:</h3>

<ul>
<li>Clone this repo:</li>
</ul>

<pre><code>$ git clone https://github.com/vbilopav/vb-spa
</code></pre>

<ul>
<li>Restore npm modules:</li>
</ul>

<pre><code>$ npm install
</code></pre>

<ul>
<li>To open source code example web site in you browser just point your local web server to
<code>src</code> dir, or using http-server:</li>
</ul>

<pre><code>$ cd src/
$ http-server -o
</code></pre>

<ul>
<li>To build and open minified and bundled version:</li>
</ul>

<pre><code>$ cd src/_build-system/
$ node build.js --target=mybuild

...

build.js &gt;
build.js &gt; finished!

$ cd build/mybuild/
$ http-server -o
</code></pre>

<h2 id="license">License</h2>

<p>This project is licensed under the <strong>MIT License</strong> - see the <a href="LICENSE.md">LICENSE.md</a> file for details.</p>
