<div class="">
        <h1>Parameterized</h1>
        <hr />
        <p class="lead">
            This is a parameterized view created from text template.
            You can use this types of views to display static html content which is parameterized as string template from url
        </p>
        <p>
            <hr />        
            View location: <code>/views/parameterized.html</code>
            <br />
            Route definition: <code>"parameterized": {view: "text!views/home.html"}</code>        
        </p>
    </div>
    